_site/
.DS_Store
**/.DS_Storeimages/projects/2026-08-11-publication-ai-summer-book/Agents et optimisation des tokens - Summer book 2026.pdf
images/projects/2026-08-11-publication-ai-summer-book/Agents et optimisation des tokens - Summer book 2026.pdf
