---
layout: default
---
{% assign lang = page.lang | default: "fr" %}
{% assign t = site.data.i18n[lang] %}

<div class="container">

  <div class="page-head">
    <h1 class="page-title">{{ page.title }}</h1>
    {% if page.subtitle %}
      <p class="project-subtitle">{{ page.subtitle }}</p>
    {% endif %}
  </div>

  {% if page.image %}
  <div class="row">
    <div class="col col-12">
      <div class="page-image animate">
        <img class="lazy" data-src="{{site.baseurl}}{{page.image}}" alt="{{page.title}}">
      </div>
    </div>
  </div>
  {% endif %}

  <div class="project-content animate">
    {{ content }}
  </div>

  {% assign localized_projects = site.projects | where: "lang", lang | sort: "date" | reverse %}
  {% assign use_next_project = false %}
  {% assign next_project = nil %}
  {% for project in localized_projects %}
    {% if use_next_project %}
      {% assign next_project = project %}
      {% break %}
    {% endif %}
    {% if project.url == page.url %}
      {% assign use_next_project = true %}
    {% endif %}
  {% endfor %}
  {% if next_project %}
  <div class="project__nav animate">
    <a class="project__prev" href="{{next_project.url}}">
      <div class="project__box">
        <span class="project__nav-info">{{ t.next_project }} <i class="ion ion-md-arrow-round-forward arrow-right"></i></span>
        <h2 class="project__nav-title">{{next_project.title}}</h2>
      </div>
    </a>
    <a class="project__nav-image" href="{{next_project.url}}">
      <img class="lazy" data-src="{{next_project.image}}" alt="{{next_project.title}}">
    </a>
  </div>
  {% endif %}

</div>
